* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    background-color: #000000;
    color: #fff;
}

header {
    background-size: cover;
    background-position: center;
}

header,
article {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
}

.nav-item {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

.nav-item-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.nav-item-link::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav-item-link:hover::after {
    width: 100%;
}

.primary-btn {
    display: block;
    margin: 50px;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
}

.primary-btn:hover {
    background: #ff004f;
    color: #fff;
}

/* INTRODUCTION */
#introduction-text {
    width: 100%;
    height: 100vh;
    margin-top: 10%;
    font-size: 30px;
}

#introduction-text {
    margin-top: 10%;
    font-size: 45px;
}

#introduction-text h1 {
    font-size: 65px;
    margin-top: 20px;
}

#introduction-text h1 span {
    color: #ff004f;
}

/* ABOUT */

#about {
    padding-bottom: 80px;
    color: #abab;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-img {
    flex-basis: 40%;
    width: 100%;
    border-radius: 15px;
}

.about-text-container {
    flex-basis: 60%;
}

.about-header {
    font-size: 65px;
    font-weight: 600;
    color: #fff;
}

.about-description {
    font-size: 25px;
    text-align: justify;
    margin: 10px 0;
}

.about-tab-titles {
    display: flex;
    margin: 20px 0 40px 0;
}

.about-tab-links {
    color: white;
    margin-right: 50px;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 1000;
    cursor: pointer;
    position: relative;
}

.about-tab-links::after {
    content: ' ';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.about-tab-links.active-link::after {
    width: 80%;
}

.about-tab-contents-item {
    list-style: none;
    margin: 10px 0;
}

.about-tab-contents-item span {
    color: #ff004f;
    font-size: 30px;
}

.about-tab-contents {
    display: none;
}

.about-tab-contents.active-tab {
    display: block;
}

/* PORTFOLIO */

#portfolio {
    padding-top: 50px;
    padding-bottom: 100px;
}

.portfolio-header {
    font-size: 65px;
    font-weight: 600;
    color: #fff;
}

.work-list {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
    margin: 50px 0;
}

.work-item {
    flex-basis: 0;
    flex-grow: 1;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work-item img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    height: 100%;
}

.work-item-description {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}

.work-item-description h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.work-item-description a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 14px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.work-item:hover img {
    transform: scale(1.1);
}

.work-item:hover .work-item-description {
    height: 100%;
}

/* CONTACT */

.contact-left {
    flex-basis: 35%;

}

.contact-right {
    flex-basis: 65%;

}

.contact-left p {
    margin-top: 30px;

}

.contact-left p i {
    color: #ff004f;
    margin-right: 10px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    color: #ababab;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;

}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);

}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright a {
    color: #fff;
    text-decoration: none;
}

/*--------------------------------*/